[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
django-admin-honeypot = "*"
django-allauth = "*"
django-cleanup = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = "*"
dj-database-url = "*"
gunicorn = "*"
pillow = "*"
psycopg2-binary = "*"
whitenoise = "*"

[requires]
python_version = "3.9"
