{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/molecule-logo.svg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block keywords %}プログラミング{% endblock keywords %}">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <!-- local -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/42ebf060fe.js" crossorigin="anonymous"></script>
    {% block style %}
    {% endblock style %}
    <title>
        {% block title %}
            Django Docker Template
        {% endblock title %}
    </title>
</head>
<body>
    
    <div>
        <div class="uk-container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    <!-- local -->
    <script src="{% static 'js/base.js' %}"></script>
    {% block js %}
    {% endblock js %}
</body>
</html>